body {
	font-family: sans-serif;
	overscroll-behavior-y: none;
}

.nom {
	margin-left : auto ; margin-right : auto ;
	font-size: 13px;
	border-collapse: separate;
	border-spacing: 1px;
	border-width: 1px;
	border-style: outset;
}

.nom td {
	border-style: inset;
	border-width: 1px;
	text-align: left;
	vertical-align: top;
	padding: 0;
}

.nom td a {
	white-space: nowrap;
	text-decoration: none;
}

.res1 {
	padding: 1px;
	line-height: 14px;
	width: 50px;
	overflow: hidden;
}

.cow {
	text-align: right;
	float: right;
}

.tooltip .cow {
	font-size: 0.9em;
}

.res1 .cat {
	display: block;
	height: 50px;
	line-height: 48px;
	text-align: center;
	margin-bottom: 3px;
}

.cow .inc {
	color: red;
	font-size: xx-small;
}

.res1 > .cow .heat {
	display: none;
}

.res1 .tmark {
	color: gray;
}

.res1 .tmark2 {
	color: red;
}

.res1 .tmark3 {
	color: peru;
}

.res1 .cat img {
	border-style: none;
	vertical-align: middle;
}

.res1 .cat br {
	display: none;
}

.rowtim {
	text-align: right;
	margin: 1ex;
}

.rowtim0 {
	background-color: #eeffff;
}

.rowtim1 {
	background-color: #ffeeff;
}

h1 {
	margin-top: 0;
	margin-bottom: 10px;
	float: left;
}

.finfo {
	float: right;
	margin-left: 1em;
	font-size: small;
	text-align: right;
	background-color: #f0e0d6;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 4px;
}

hr {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px solid #999;
}

.notification, .announcement {
	font-size: smaller;
	border:  1px solid red;
	color: black;
	background-color: white;
	padding: 2px;
	clear: both;
}

#searchwords {
	width: 80%;
}

#ngwords {
	width: 40%;
}

.hidden {
	display: none;
}

.warn {
	color: red;
	font-size: 0.8em;
}

.message {
	text-align: center;
}

.options {
	margin-bottom: 5px;
	font-size: small;
	display: none;
}

.menu {
	margin-bottom: 5px;
}

.tooltip {
	display: none;
	position: absolute;
	width: 304px;
	padding: 8px;
	border-radius: 8px;
	box-shadow: 4px 4px 4px #555;
	background-color: #f0e0d6;
	color: black;
}

.tooltip_thumb {
	width: 150px;
	height: 150px;
	padding-right: 10px;
	float: left;
	object-fit: contain;
	font-family: 'object-fit: contain;'
}

.tooltip_text {
	overflow: hidden;
	height: 125px;
	word-break: break-all;
	text-align: justify;
}

.tooltip_note {
	padding-top: 10px;
	height: 15px;
	font-weight: bold;
}

.tooltip_note .heat {
	padding-left: 5px;
}

.tooltip_note .heat:before {
	font-family: 'Font Awesome 5 Free';
	padding-right: 3px;
	content: '\f06d';
}

.tooltip_note .cow:before {
	font-family: 'Font Awesome 5 Free';
	padding-right: 3px;
	content: '\f075';
}

.tabs {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.tabs .tab-label {
	display: inline-block;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid #999;
	border-bottom: none;
	margin-left: 1px;
	margin-right: 1px;
	padding: 3px 6px;
	font-size: small;
	cursor: pointer;
}

.tabs .tab-label:hover {
	color: red;
}

.tabs input[name="tab-radio"],
.tabs .tab-content {
	display: none;
}

.tabs .tab-content{
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 10px;
}

.tabs #tab-1:checked ~ .tab-1-content,
.tabs #tab-2:checked ~ .tab-2-content,
.tabs #tab-3:checked ~ .tab-3-content,
.tabs #tab-4:checked ~ .tab-4-content,
.tabs #tab-5:checked ~ .tab-5-content,
.tabs #tab-6:checked ~ .tab-6-content,
.tabs #tab-7:checked ~ .tab-7-content {
	display: block;
}

.tabs input[name="tab-radio"]:checked + .tab-label {
	margin-bottom: -1px;
	border-bottom: 1px solid #ffffee;
	font-weight: bold;
	border-top: 4px solid #ff7f50;
}

.delbutton {
	float: right;
	color: black;
	font-size: 0.9em;
	padding-right: 7px;
}

.nom:empty {
	border-style: none;
}

#searchform, #ngform {
	display: flex;
	align-items: center;
}

#searchform input, #searchform button, #ngform input, #ngform button {
	height: 24px;
}

#searchform input, #ngform input,
.junk_options input {
	border: 1px solid #888;
	border-radius: 4px 0 0 4px;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
}

#searchform button, #ngform button,
.junk_options button {
	border: 1px solid #888;
	border-radius: 0 4px 4px 0;
	margin-left: -1px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	background-color: #efefef;
}

.junk_options input[type="text"] {
	border-radius: 4px;
	width: 40px;
	text-align: right;
	ime-mode: disabled;
}

.junk_options button {
	border-radius: 4px;
}

.junk_options, .junk_rule {
	margin-top: 2px;
}

#searchform button:hover, #ngform button:hover {
	background-color: #ddd;
}

#searchform input:focus, #searchform button:focus,
#ngform input:focus, #ngform button:focus,
.junk_options input:focus {
	outline: 0;
	z-index: 1;
	border: 1px solid #0d8eff;
	-webkit-box-shadow: 0 0 3px 2px rgba(37,154,255,.31)
}

#searchform input:focus-visible, #searchform button:focus-visible,
#ngform input:focus-visible, #ngform button:focus-visible,
.junk_options input:focus-visible {
	border: 1px solid #0d8eff;
	box-shadow: 0 0 3px 2px rgba(37,154,255,.31)
}

.dark-theme body {
	color: #e3e3e3;
	background-color: #2b2b2b;
}

.dark-theme a {
	text-decoration: none;
	color: #94cfff;
}

.dark-theme a:hover {
	background-color:hsla(0,0%,100%,.13333333333333333)
}

.dark-theme a:visited {
	color: #bd93f9;
}

.dark-theme .finfo {
	background-color: dimgray;
}

.dark-theme .thread {
	background-color: #404040;
}

.dark-theme .cow .inc {
	color: lightpink;
}

.dark-theme .res1 .tmark {
	color: darkgray;
}

.dark-theme .res1 .tmark2 {
	color: tomato;
}

.dark-theme .tooltip {
	background-color: #607080;
	color: #e3e3e3;
	box-shadow: none;
}

.dark-theme .tooltip .fas {
	color: #e3e3e3;
}

.dark-theme #searchform input, .dark-theme #ngform input,
.dark-theme .junk_options input {
	color: #e3e3e3;
	background-color: #404040;
}

.dark-theme #searchform button, .dark-theme #ngform button,
.dark-theme .junk_options button {
	color: #e3e3e3;
	background-color: #555;
}

.dark-theme #searchform button:hover, .dark-theme #ngform button:hover
.dark-theme .junk_options button:hover {
	background-color: gray;
}

.dark-theme .nom td {
	border: 2px solid #777;
}

.dark-theme .nom:not(:empty) {
	border-collapse: collapse;
	border-style: none;
}

.dark-theme .nom.sortable {
	border: 2px solid #777;
}

.dark-theme .rowtim0 {
	background-color: darkslategray;
}

.dark-theme .rowtim1 {
	background-color: #114466;
}

.dark-theme .tabs input[name="tab-radio"]:checked + .tab-label {
	border-top: 4px solid lightblue;
	border-bottom: 1px solid #2b2b2b;
}

.dark-theme .tabs .tab-label:hover {
	color: lightblue;
}

.dark-theme .notification, .dark-theme .announcement {
	border:  1px solid crimson;
	color: #e3e3e3;
	background-color: dimgray;
}
